@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    @apply bg-zinc-950 text-white antialiased;
  }
}

@layer utilities {
  @keyframes infinite-scroll-y {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-50%);
    }
  }

  .animate-infinite-scroll-y {
    animation: infinite-scroll-y 15s linear infinite;
    will-change: transform;
  }
}
