---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/site/Navigation.astro';
import Footer from '../components/site/Footer.astro';

import HeroSection from '../sections/home/HeroSection.astro';
import FeaturesSection from '../sections/home/FeaturesSection.astro';
import StepsSection from '../sections/home/StepsSection.astro';
import CTASection from '../sections/shared/CTASection.astro';
---

<Layout title="Bodega - Inventory Management">
  <div class="min-h-screen bg-zinc-950 flex flex-col relative overflow-hidden">
    <Navigation />
    <main class="relative z-10 flex-1">
      <div class="flex flex-col items-center w-full overflow-hidden">
        <HeroSection />
        <FeaturesSection />
        <StepsSection />
        <CTASection />
      </div>
    </main>
    <Footer />
  </div>
</Layout>
