---
interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;
---

<span class={`text-[10px] uppercase tracking-[0.2em] text-indigo-500 font-mono block ${className}`}>
  // <slot />
</span>
